<?php
error_reporting(E_ALL | E_STRICT);
ini_set('display_errors', 1);

require_once "bucky/framework.php";

BApp::i()
    ->config('storage/private/config/local.json')
    ->load('bucky/plugins/*')
    ->load('bucky/base')
    ->run();